.wrapper {
    height: 100vh;
    width: 93.75%;
    background: url('./assets/images/Group1.png'); // where images
    background-size: cover;
    margin-left: 6.25%;

}
.navbar{
    width: 480px;
}
..header{
    height: 120px;
    background: red;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
}
.navbar ul li a{
    display: flex;
    width: 100px;
    height: 41px;
    border-radius: 20px;
    background-color: #000000;
    color: #FFFF;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}